*, *:after, *:before {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width:450px;
}
.header {
  background: #f8f8f8;
  padding-top: 45px;
  padding-bottom: 145px;
}
.container {
  max-width: 1140px;
  margin: auto;
  padding: 0px 5px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top {
  margin-bottom: 100px;
}
.logo {
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
}
a:link, a:visited {
  color: #000;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #ff4d4d;
}
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.nav__link {
  text-decoration: none;
  color: #000;
}
.nav__item {
  margin-right: 20px;
  font-size: 14px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__item:hover, .nav__item:focus {
  text-decoration: underline;
  color: #ff4d4d;
}
.phone {
  font-size: 16px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}
.header-content {
  display: flex;
}
.header-content__text {
  flex-basis: 50%;
}
.header-content__image {
  max-width: 600px;
}
.header-content__title {
  font-size: 58px;
  margin-bottom: 23px;
}
.header-content__description {
  font-size: 17px;
  margin-bottom: 40px;
  line-height: 160%;
}
.button {
  padding: 15px 56px;
  background: #ff6c6c;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover, .button:focus {
  background: #ff4d4d;
}
.button__shadow {
  box-shadow: 0px 10px 25px rgba(255, 108, 108, 0.5);
}
.button__shadow:hover {
  box-shadow: 0px 10px 25px rgba(255, 108, 108, 0.7);
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section__title {
  margin-bottom: 50px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  flex-basis: 25%;
  background: #f8f8f8;
  box-shadow: 0px 4px 4px rgba(104, 104, 104, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 30px;
}
.card__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card__image {
  width: 300px;
  max-height: 300px;
}
.goods__card {
  margin-bottom: 30px;
}
.card__title {
  font-size: 16px;
  text-align: left;
  max-width: 215px;
}
.card__price {
  font-size: 36px;
}
.card__button {
  width: 100%;
}
.review-cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch!important;
}
.review-card {
  padding: 20px 30px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(131, 131, 131, 0.25);
  border-radius: 10px;
  margin-right: 20px;
  flex-basis: 24%;
}
.review-card:last-child {
   margin-right: 0;
}
.review-card:focus {
  background: #FBFBFB;
  outline: none;
}
.review-card__title {
  font-size: 14px;
  margin-bottom: 5px;
}
.review-card__text {
  font-size: 14px;
  line-height: 21px;
}
.footer {
  background: #F8F8F8;
}
.contacts {
  display: flex;
  justify-content: space-between;
}
.form {
  flex-basis: 40%;
}
.contacts__form {
  display: flex;
  flex-direction:column;
}
.map {
  flex-basis: 50%;
}
.input {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);
  border-radius: 5px;
  border: none;
  padding: 25px 30px;
  font-size: 14px;
}
.form__inputs {
  display:flex;
  justify-content: space-between;
}
.form__input {
  width: 47%;
  margin-bottom: 30px;
}
.form__textarea {
  margin-bottom: 30px;
  display: block;
  width: 100%;
  resize: none;
}
.form__buttons {
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.social {
  display: flex;
}
.social__link {
  text-decoration: none;
  margin-left: 10px;
}
button:focus, input:focus, a:focus, textarea:focus {
  outline: none;
}
.slick-list {
    padding: 10px 5px!important;
}
.slick-initialized .slick-slide {
  height: 290px;
}
.slick-slide {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
.slick-slider {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .form__button {
    padding: 15px 20px;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 760px;
  }
  .header-content {
    flex-direction: column;
  }
  .contacts {
    flex-direction: column;
  }
  .contacts__form {
    margin-bottom: 50px;
  }
  .review-card {
    margin-right: 25px;
  }
  .review-card:last-child {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
  .top {
    flex-direction: column;
    min-height: 100px;
  }
  .header-content {
    text-align: center;
  }
  .header-content__title {
    font-size: 24px;
  }
  .header-content__description {
    font-size: 14px;
  }
  .header-content__image {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .card {
    flex-basis: 100%;
  }
  .button {
    padding: 15px 30px;
    font-size: 16px;
  }
}
